<body class="background">
  <div class="homeHeadContent">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "logo2.png", class:"avatar-square" %>
        <% end %>
      </div>
      <div class="d-flex justify-content-end navbar-buttons">
        <% if user_signed_in? %>
        <%= current_user.email %>
          <%= link_to 'SIGN OUT', destroy_user_session_path, method: 'delete', :class => "nav-button-iversen btn btn-outline-iversen-green" %>
        <% else %>
          <%= link_to 'SIGN UP', new_user_registration_path, :class => "nav-button-iversen"%>
          <%= link_to 'LOGIN', new_user_session_path, :class => "nav-button-iversen"%>
        <% end %>
      </div>
    </div>
  </div>

   <div class="under-nav-breaker">
    <!-- Make space under navbar -->
  </div>

  <div class="container py-5">
    <div class="row login-form">
      <div class="form-upload shadow-sm p-3 mb-5 bordered col-12 col-md-6 offset-lg-3 justify-content-center" style="background-color: #354558">
        <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="centered"> <h2>Sign Up</h2></div>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs login-inputs">

                <%= f.input :last_name,
                         required: true,
                         autofocus: true,
                         input_html: { autocomplete: "Last Name" }%>

                <%= f.input :date_of_birth,
                        start_year: Time.now.year - 90,
                        end_year: Time.now.year,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Date of Birth" }%>

                <%= f.input :Address,
                        input_html: {data: {address_autocomplete_target: "address"}},
                        wrapper_html: {data: {controller: "address-autocomplete",
                       address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>

                <%= f.input :phone_number,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Phone Number" }%>

                <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>

                <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>

                <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto justify-content-center">
                <div class="form-actions nav-button-iversen">
                  <%= f.button :submit, "Sign up" %>
                </div>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer form-new">
    <div class="footer">
      <a href="https://github.com/Janek-92"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/janek-iversen-10511786"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Translation & Interpretation Iversen (c) Copyright 2022
    </div>
  </div>
</div>
